<% provide(:title, 'Join a Team') %>


    <%= form_for(:relationship, url: jointeam_path) do |f| %>
<center>
  <table> 
<tr><td>
<h2>Join a Team</h2>
</td></tr>


    <tr> <td>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      </td></tr>

      <tr><td>
      <%= f.label :code %>
      <%= f.text_field :code, class: 'form-control' %>

      </td></tr>

      <tr><td>
      <%= f.submit "Join Team", class: "btn btn-primary" %>
      </td></tr>		

</table>
</center>
    <% end %>
  