<h1>My Project</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
<table class="table">
  <tr>
  	<th>Title</th>
  	<td><%= @project.title %></td>
  </tr>
  <tr>
  	<th>Organization</th>
  	<td><%= @project.organization %></td>
  </tr>
  <tr>
  	<th>Contact</th>
  	<td><%= @project.contact %></td>
  </tr>
  <tr>
  	<th>Description</th>
  	<td><%= @project.description %></td>
  </tr>
  <tr>
  	<th>On Campus</th>
  	<td><%= @project.oncampus %></td>
  </tr>
  <tr>
  	<th>Is Legacy</th>
  	<td><%= @project.islegacy %></td>
  </tr>
	<tr>
  	<th>Team</th>
  	<td><%= @team.name %></td>
  </tr>
	<tr>
  	<th>Members</th>
  	<td><%= 
					@members.each do |name|
						puts name
					end
		%></td>
  </tr>

<%= form_tag({action: :update_project}) do %>
	<tr>
	<th> Iteration0 </th>
	<td> 
		<%= link_to @project.iteration0.to_s, "http://#{@project.iteration0}", :target => "_blank" %>
		<%= text_field(:project, :iteration0) %> 
	</td>
	</tr>

	<tr>
	<th> Iteration1 </th>
	<td> 
		<%= link_to @project.iteration1.to_s, "http://#{@project.iteration1}", :target => "_blank" %>	
		<%= text_field(:project, :iteration1) %> 
	</td>
	</tr>

	<tr>
	<th> Iteration2 </th>
	<td> 
		<%= link_to @project.iteration2.to_s, "http://#{@project.iteration2}", :target => "_blank" %>
		<%= text_field(:project, :iteration2) %> 
	</td>
	</tr>

	<tr>
	<th> Iteration3 </th>
	<td> 
		<%= link_to @project.iteration3.to_s, "http://#{@project.iteration3}", :target => "_blank" %>
		<%= text_field(:project, :iteration3) %>
	</td>
	</tr>

	<tr>
	<th> Iteration4 </th>
	<td> 
		<%= link_to @project.iteration4.to_s, "http://#{@project.iteration4}", :target => "_blank" %>
		<%= text_field(:project, :iteration4) %> 
	</td>
	</tr>

	<tr>
	<th> First Video </th>
	<td> 
		<%= link_to @project.first_video.to_s, "http://#{@project.first_video}", :target => "_blank" %>
		<%= text_field(:project, :first_video) %> 
	</td>
	</tr>

	<tr>
	<th> Final Video </th>
	<td>
		<%= link_to @project.final_video.to_s, "http://#{@project.final_video}", :target => "_blank" %> 
		<%= text_field(:project, :final_video) %> 
	</td>
	</tr>	

	<tr>
	<th> Final Report </th>
	<td>
		<%= link_to @project.final_report.to_s, "http://#{@project.final_report}", :target => "_blank" %> 
		<%= text_field(:project, :final_report) %> 
	</td>
	</tr>

	<tr>
	<th> Poster </th>
	<td> 
		<%= link_to @project.poster.to_s, "http://#{@project.poster}", :target => "_blank" %>
		<%= text_field(:project, :poster) %> 
	</td>
	</tr>

	<tr>
	<th> Source Code </th>
	<td> 
		<%= link_to @project.source_code.to_s, "http://#{@project.source_code}", :target => "_blank" %>
		<%= text_field(:project, :source_code) %> 
	</td>
	</tr>

<% if false %>
	<tr>
  	<th>Iteration0</th>
  	<td><%= link_to @project.iteration0.to_s, user_download_path(:filename => @project.iteration0) %>
		<%= form_tag({action: :upload}, multipart: true) do %>
			<%=	file_field_tag 'iteration0' %>
			<%=	submit_tag("Upload") %>
		<% end %>
		</td>
  </tr>
	<tr>
  	<th>Iteration1</th>
  	<td><%= link_to @project.iteration1.to_s, user_download_path(:filename => @project.iteration1) %>
		<%= form_tag({action: :upload}, multipart: true) do %>
			<%=	file_field_tag 'iteration1' %>
			<%=	submit_tag("Upload") %>
		<% end %>
		</td>
  </tr>
	<tr>
  	<th>Iteration2</th>
  	<td><%= link_to @project.iteration2.to_s, user_download_path(:filename => @project.iteration2) %>
		<%= form_tag({action: :upload}, multipart: true) do %>
			<%=	file_field_tag 'iteration2' %>
			<%=	submit_tag("Upload") %>
		<% end %>
		</td>
  </tr>
	<tr>
  	<th>Iteration3</th>
  	<td><%= link_to @project.iteration3.to_s, user_download_path(:filename => @project.iteration3) %>
		<%= form_tag({action: :upload}, multipart: true) do %>
			<%=	file_field_tag 'iteration3' %>
			<%=	submit_tag("Upload") %>
		<% end %>
		</td>
  </tr>
	<tr>
  	<th>Iteration4</th>
  	<td><%= link_to @project.iteration4.to_s, user_download_path(:filename => @project.iteration4) %>
		<%= form_tag({action: :upload}, multipart: true) do %>
			<%=	file_field_tag 'iteration4' %>
			<%=	submit_tag("Upload") %>
		<% end %>
		</td>
  </tr>
	<tr>
  	<th>First Video</th>
  	  	<td><%= link_to @project.first_video.to_s, user_download_path(:filename => @project.first_video) %>
		<%= form_tag({action: :upload}, multipart: true) do %>
			<%=	file_field_tag 'first_video' %>
			<%=	submit_tag("Upload") %>
		<% end %>
		</td>
  </tr>
	<tr>
  	<th>Final Video</th>
  	<td><%= link_to @project.final_video.to_s, user_download_path(:filename => @project.final_video) %>
		<%= form_tag({action: :upload}, multipart: true) do %>
			<%=	file_field_tag 'final_video' %>
			<%=	submit_tag("Upload") %>
		<% end %>
		</td>
  </tr>
	<tr>
  	<th>Final Report</th>
  	<td><%= link_to @project.final_report.to_s, user_download_path(:filename => @project.final_report) %>
		<%= form_tag({action: :upload}, multipart: true) do %>
			<%=	file_field_tag 'final_report' %>
			<%=	submit_tag("Upload") %>
		<% end %>
		</td>
  </tr>
	<tr>
  	<th>Poster</th>
  	<td><%= link_to @project.poster.to_s, user_download_path(:filename => @project.poster) %>
		<%= form_tag({action: :upload}, multipart: true) do %>
			<%=	file_field_tag 'poster' %>
			<%=	submit_tag("Upload") %>
		<% end %>
		</td>
  </tr>
	<tr>
  	<th>Source Code</th>
  	<td><%= link_to @project.source_code.to_s, user_download_path(:filename => @project.source_code) %>
		<%= form_tag({action: :upload}, multipart: true) do %>
			<%=	file_field_tag 'source_code' %>
			<%=	submit_tag("Upload") %>
		<% end %>
		</td>
  </tr>
  <% if current_user.admin? %>
  <tr>
    <th>Approved</th>
    <td><%= @project.approved %></td>
  </tr>
  <% end %>
<% end %>
</table>
	<%=	submit_tag("Update") %>
<% end %>
<% if false %>
		<% if current_user.admin? %>
			<%= link_to "Download batch", user_admin_download_path %>
		<% end %>
<% end %>
</div>
</div>
