<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @project.organization %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @project.contact %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Oncampus:</strong>
  <%= @project.oncampus %>
</p>

<p>
  <strong>Islegacy:</strong>
  <%= @project.islegacy %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
