<% provide(:title, 'Peer Evaluation Result') %>
<h1>Peer Evaluation Result of Team <%= @team.name %> </h1>
<br/>
<br/>
<br/>
<h2> Scores </h2>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table">
            <thead>
                <tr>
                    <th> </th>
                    <% @all_pe.each do |pe| %>
                        <th><%= pe[0] %></th>
                    <% end %>
                </tr>
            </thead>
            <tbody>
                <% counter = 1 %>
                <% @all_pe.each do |pe| %>
                    <tr>
                        <td> <%= pe[0] %> </td>
                        <% @all_pe.each do |pe| %>
                            <td> <%= pe[counter] %> </td>
                        <% end %>
                        <% counter+= 1 %>
                    </tr>
                <% end %>
            </tbody>
        </table>

    </div>
</div>
<hr>
<h2> Comments </h2>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table">
            <thead>
                <tr>
                    <th> </th>
                    <% @all_pe.each do |pe| %>
                        <th><%= pe[0] %></th>
                    <% end %>
                </tr>
            </thead>
            <tbody>
                <% @team.members.size() + 1 %>
                <% @all_pe.each do |pe| %>
                    <tr>
                        <td> <%= pe[0] %> </td>
                        <% @all_pe.each do |pe| %>
                            <td> <%= pe[counter] %> </td>
                        <% end %>
                        <% counter+= 1 %>
                    </tr>
                <% end %>
            </tbody>
        </table>

    </div>
</div>
